<!-- image -->
<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img src="{{ .Get "src" }}" {{ with .Get "alt"}} alt="{{.}}"{{ end }} {{ with .Get "title"}} title="{{.}}"{{ end }} />
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or ( .Get "title") (.Get "attr")}}
    <figcaption>
        {{ with .Get "title" }}{{ . }}<br />{{ end }}
        {{ if .Get "attr" }}
        {{ with .Get "attrlink"}}<a href="{{.}}">{{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a>{{ end }}
        {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->
